@import 'fonts/Digital-dream-fontfacekit/init.css';

html{background:#D8D8D8;}
body
{
   background:#D8D8D8;
}

/* menu */
.accordion h3{
	margin:0;
	padding:0;
	font-size:14px;
}
.side_menu
{
    background-color: #2BA6CB;
    color: #fff;
    text-align: center;
    border:1px  solid #2285A2;
    border-bottom:none;
    cursor:pointer;   
}

.accordion h3.head a
{
    color: #fff;
    display: inline;
    position: relative;
	font-size:15px;
}

.accordion.side-nav ul li
{
	margin:0;
	padding:0;
	list-style:none;
}

.accordion div p a
{
    color: #6f9bdc;
    display: inline;
    position: relative;
}

.accordion h3.head2 a
{
    color: #fff;
    display: inline;
    position: relative;
	font-size:15px;
}

/*header*/

.school-header
{
	text-align:center;
	background:transparent url('../img/paper.png');
	
}

.login-box{
	padding:20px;
	min-height:369px;
	background:url('../img/logo.png')no-repeat -75px 95%;
}
div.shadow{
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
	border:1px solid #666;
}


.left{text-align:left;}
.right{text-align:right;}
.center{text-align:center;}

fieldset{
	border:lpx dotted #f00;
}
.content-views{
	background:#EAEAEA url('../img/paper.png');
	border:2px solid #c0c0c0;
	padding:20px;
}
.content-menus{
	background:#EAEAEA url('../img/paper.png');
	border:2px solid #c0c0c0;
	padding:10px 5px 10px 10px;
}
table.data-table{
	width:100%;
}

footer div.footer-contents
{
	margin:2% auto;
	background:#EAEAEA url('../img/paper.png');
	border:2px solid #c0c0c0;
	padding:20px;
}

#amount_money
{
	font-family: 'DigitaldreamFatRegular';
}

.error_simple
{
	display:block;
	font-size:9px;
	color:#fff;
	background:#D20000;
	padding:1px 2px;
	border:1px solid #790000;
}

.row.full-width { width: 100%; max-width: 100%; }
.help-icon{
display:inline-block;
width:16px;
height:17px;
background:url("../img/glyphicons_194_circle_question_mark.png") no-repeat -5px -6px
}

.label-good{
	font-weight:bold;
	font-size:12px;
	background:#E9E9E9;
	padding:4px;
	color:#000;
}
div.enrollment-menu
{
	padding:20px;
	border:2px dashed #c0c0c0;
}
div.option{
	margin:20px 5px;
}
ul li{
	list-style:none;
}
ul.notice{
	font-size:11px;
	font-weight:bold;
}

.hidden{
	display:none;
}
.small-info{
	font-size:12px;
	font-weight:bold;
}